body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

h1 {
    color: #ff5722;
}

#todays-audio {
    background: #ff9800;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
}

#archive {
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

audio {
    width: 100%;
}
