body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    margin: 10px 0;
}

#todays-audio, #archive {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todays-audio {
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: white;
}

audio {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    background: #eee;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.3s;
}

ul li:hover {
    background: #ddd;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
